

.container{
    font-family: Questrial;
    padding-top: 20px;
}
.row1{
    background-color: #234949;
    font-family: Questrial;
    color: rgb(250, 250, 250);
    padding: 30px 30px 30px 30px;
    margin-top: 30px;
}
.row2{
    border: 2px black solid;
    font-family: Questrial;
    color: rgb(250, 250, 250);
    padding: 30px 30px 30px 30px;
    margin-top: 30px;
}
.p1{
   padding-bottom: 10px;

}
.p2{
    padding-bottom: 10px;
}
.p3{padding-bottom: 10px;
}
.p4{
    padding-bottom: 60px;
}
.Lunch{
    color: rgb(181, 194, 95);
    padding-top: 20px;
    padding-bottom: 20px;

}
.image1{
    background-color:  rgb(181, 194, 95);
    font-size: 20px;
    padding: 30px;
    border: solid black 2px;;
}
.container1{
    font-family: Questrial;
    padding-top: 20px;
    border: 2px solid black;
}

