.body{
    background-color: rgb(131, 143, 55);
}


.navbar-brand{
    color: rgb(36, 86, 36);
    font-family: Questrial;
}
.navbar-nav{
    font-family: Questrial;
}
.welcoming{
    background-color: rgb(35, 73, 73);
    border: 2px black solid;
    font-family: Questrial;
    color: rgb(250, 250, 250);
    padding: 30px 30px 30px 30px;
    margin-top: 0px;
}
.first-img{
    padding-top: 60px;
}
.row1{
    color:rgb(36, 86, 36);
    font-family: Questrial;
    gap: 10px;
}

.row2{
    border: solid black 2px;
      padding-top: 20px;
}